<section class="container-fluid footer">
    <div class="content">
        <div class="row footer-top">
            <div class="col-sm-8">
                <h2>Site Map</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="https://www.inidus.com">Home</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="/">Platform</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h2>Connect</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <li><a href="mailto:info@inidus.com">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-sm-8 ">
                <font size="1">(C) inidus limited 2016-2018.</font>
            </div>
            <div class="col-sm-4">
                <font size="1">Inidus Cloud Platform powered by <a href="https://inidus.com" target="_blank">Inidus</a>.</font>
            </div>
        </div>
    </div>
</section>
<template ngbModalContainer></template>
