<div class="row">
    <div class="col-md-4">
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslateDisabled="home.logged.message"
                      >You are logged in as {{account.login}}.</span>
            </div>
            <div class="alert alert-orange" *ngSwitchCase="true">
                <h4>
                    <a routerLink="operino" class="align-middle">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                        View your <span jhiTranslateDisabled="global.menu.entities.operino">Bundle</span>s
                    </a>
                </h4>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslateDisabled="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslateDisabled="global.messages.info.authenticated.link">sign in</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslateDisabled="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslateDisabled="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>
        <div class="alert alert-info">
            <p jhiTranslateDisabled="home.question">
                For help with the Inidus Platform:
            </p>
            <ul class="fa-ul">
                <li><i class="fa fa-book" aria-hidden="true"></i>&nbsp;<a href="https://docs.inidus.io" target="_blank" jhiTranslateDisabled="home.link.docs">Read The Documentation</a></li>
                <li><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;<a href="https://github.com/inidus/inidus-backend/issues" target="_blank" jhiTranslateDisabled="home.link.support">Open an Issue</a></li>
            </ul>
            <p>
                <span jhiTranslateDisabled="home.like">If you like the Inidus Platform, don't forget to give us a star on</span> <a href="https://github.com/inidus/inidus-backend" target="_blank" jhiTranslateDisabled="home.github">GitHub</a>!
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <h3 jhiTranslateDisabled="home.title">Welcome to Inidus Platform Sandbox</h3>
        <div >
            The Inidus Platform Sandbox provides an open sandbox environment for anyone who wants to discover,
            demonstrate, test or build health and care solutions by simulating a wide range of open systems and
            services you are increasingly likely to find in UK health and care.
        </div>
        <br>

        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/hrdLaWk-beQ?autoplay=0' frameborder='0' allowfullscreen></iframe></div>

        <br>
        <div>
            The Inidus Platform Sandbox is for <b>non-operational use only</b> and does not store any personal data.
            Access to the data and services available via the Inidus Platform is free to all registered users
            subject to agreement with a simple set of terms and conditions. The Inidus Platform includes items
            that may also be freely available for use in an operational environment, while the operational use other
            items may require that you enter into a commercial agreement with the owner.
        </div>
    </div>
</div>
